/***
Portlets
***/
.portlet  {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
}

.portlet > .portlet-title {  
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.portlet > .portlet-title:after,
.portlet > .portlet-title:before {
  content: "";
  display: table;
  line-height: 0;
}

.portlet > .portlet-title:after {
  clear: both;
}

.portlet > .portlet-title > .caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 7px; 
}

.portlet > .portlet-title > .caption i {
  float: left;
  margin-top: 5px;
  display: inline-block !important;
  font-size: 13px;
  margin-right: 5px;
  color: #666;
}

.portlet.blue > .portlet-title > .caption, .portlet-title.blue > .caption, 
.portlet.green > .portlet-title > .caption, .portlet-title.green > .caption,
.portlet.yellow > .portlet-title > .caption, .portlet-title.yellow > .caption,
.portlet.red > .portlet-title > .caption, .portlet-title.red > .caption,
.portlet.purple > .portlet-title > .caption, .portlet-title.purple > .caption,
.portlet.grey > .portlet-title > .caption, .portlet-title.dark-grey > .caption, {
  color: #fff;
}

.portlet.box.blue > .portlet-title > .caption > i, 
.portlet.box.green > .portlet-title > .caption > i,
.portlet.box.grey > .portlet-title > .caption > i,
.portlet.box.yellow > .portlet-title > .caption > i, 
.portlet.box.red > .portlet-title > .caption > i,  
.portlet.box.purple > .portlet-title > .caption > i, 
.portlet.box.light-grey > .portlet-title > .caption > i{
  color: #fff;
}

.sortable .portlet > .portlet-title {
  cursor: move;
}

.portlet > .portlet-title > .tools,
.portlet > .portlet-title > .actions
 {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  float: right;
}

.portlet > .portlet-title > .tools > a {
  display: inline-block;
  height: 16px;
  margin-left:5px;
}

.portlet > .portlet-title > .actions > .dropdown-menu i {
  color: #000 !important;
}

.portlet > .portlet-title > .tools > a.remove {
  background-image:url(../img/portlet-remove-icon.png);
  background-repeat: no-repeat;
  width: 11px;
}

.portlet > .portlet-title > .tools > a.config {
  background-image:url(../img/portlet-config-icon.png);
  background-repeat: no-repeat;
  width: 12px;
}

.portlet > .portlet-title > .tools > a.reload {
  background-image:url(../img/portlet-reload-icon.png);
  width: 13px;
}

.portlet > .portlet-title > .tools > a.expand {
  background-image:url(../img/portlet-expand-icon.png);
  width: 14px;
}

.portlet > .portlet-title > .tools > a.collapse {
  background-image:url(../img/portlet-collapse-icon.png);
  width: 14px;
}

.portlet > .portlet-title > .tools > a:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity:.6;  
  filter:'alpha(opacity=60)';
}

.portlet > .portlet-title > .actions > .btn-group {
  margin-top: -12px;
}

.portlet > .portlet-title > .actions > .btn {
  padding: 4px 10px;
  margin-top: -13px;
}

.portlet > .portlet-title > .actions > .btn-group > .btn {
  padding: 4px 10px;
  margin-top: -1px;
}

.portlet > .portlet-title > .actions > .btn.mini {
  margin-top: -12px;
  padding: 4px 10px;
}

.portlet > .portlet-title > .pagination.pagination-small {
  float: right !important;
  display: inline-block !important;
  margin: 0px;
  margin-top: -2px;
}

.portlet > .portlet-body {
  clear: both;  
  padding: 0;  
}

.portlet > .portlet-body.light-blue, .portlet.light-blue {
  background-color: #bfd5fa  !important;
}

.portlet > .portlet-body.blue, .portlet.blue {
  background-color: #4b8df8 !important;
}

.portlet > .portlet-body.red, .portlet.red {
  background-color: #e02222 !important;
}

.portlet > .portlet-body.yellow, .portlet.yellow {
  background-color: #ffb848 !important;
}

.portlet > .portlet-body.green, .portlet.green {
  background-color: #35aa47 !important;
}

.portlet > .portlet-body.purple, .portlet.purple {
  background-color: #852b99 !important;
}

.portlet > .portlet-body.light-grey, .portlet.light-grey {
  background-color: #fafafa !important;
}

.portlet > .portlet-body.grey, .portlet.grey {
  background-color: #555555 !important;
}
.portlet.box .form-horizontal.form-bordered .control-group {
  margin-left: -10px;
  margin-right: -10px;
}

.portlet.box .form-horizontal.form-bordered .control-group:first-child {
  margin-top: -10px;
}
/***
Custom portlet tabs
***/
.portlet-tabs .nav-tabs {
    position: relative;
    top: -41px;
    margin-right: 10px;
    overflow: hidden;
}

.portlet-tabs .nav-tabs > li {
    float: right;
}

.portlet-tabs .nav-tabs {
    border-bottom: none;
}

.portlet-tabs .nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 10px;
  line-height: 16px;
  margin-top: 6px;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 0;    
  border-right: 0;
     -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
             border-radius: 0px;   
}

.portlet-tabs .nav-tabs > li:last-child > a {
  border-right:0;
}

.portlet-tabs .nav-tabs > li {
  margin-left: 1px;
}

.portlet-tabs .nav-tabs > li.active {
  border-top-color: transparent;
}

.portlet-tabs .nav-tabs > li.active > a {
  margin-bottom: 0px;
  border-bottom: 0;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 0;    
  border-right: 0;
  background-color: none !important;
  border-top-color:transparent !important;
}

.portlet-tabs .nav-tabs > li > a:hover {   
  margin-bottom: 0;
  border-bottom-color: transparent;
  margin-left: 0;
  margin-right: 0;
  border-left: 0;    
  border-right: 0;
  background-color: none !important;
  border-top-color:transparent;
  background-color: #fff;
}  

.portlet-tabs .nav-tabs > .active > a  {
  color: #555555;
  cursor: default;
  background-color: #fff;
}

.portlet-tabs .nav-tabs > .active > a:hover {
  background-color: #fff !important;
}

.portlet-tabs .tab-content {
  padding: 10px !important;
  margin: 0px;
  margin-top: -60px !important;
}

.portlet.tabbable .portlet-body {
  padding: 0px;
}

.tab-pane > p:last-child {
  margin-bottom: 0px;
}
.portlet .event-form-title {
  font-size: 14px;
  margin-top: -8px;
  font-weight: 400;
  margin-bottom: 0px;
}

.portlet.calendar .fc-button {
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-text-shadow: none !important;
     -moz-text-shadow: none !important;
          text-shadow: none !important;
  border: 0 !important;
  padding: 7px 8px 11px 8px;
  margin-left:2px; 
  color: #fff !important;
  border-top-style: none;
  border-bottom-style: none;
  border-right-style: solid;
  border-left-style: solid;
  border-color: #ddd;
  background: transparent;
  color: #646464;
  top: -47px;
}

.portlet.calendar .fc-header {
  margin-bottom:-21px;
}

.portlet.calendar .fc-button-prev {
  padding-right: 10px;
  padding-left: 8px;
}

.portlet.calendar .fc-button-next {
  padding-right: 8px;
  padding-left: 10px;
}

.portlet.calendar .fc-button.fc-state-active,
.portlet.calendar .fc-button.fc-state-hover {
  color: #666 !important;
  background-color: #F9F9F9 !important;
}

.portlet.calendar .fc-button.fc-state-disabled {
  color: #ddd !important;
}

.portlet.calendar .fc-text-arrow {
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  vertical-align: baseline; 
}

/* begin: event element */
.portlet.calendar .fc-event {
  border: 0px;
  background-color: #69a4e0;
  color: #fff;
}

.portlet.calendar .fc-event-inner {
  border: 0px;
}

.portlet.calendar .fc-event-time {
  float: left;
  text-align: left;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}

.portlet.calendar .fc-event-title {
  text-align: left;
  float: left;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}
/* end: event element */

.portlet.calendar .fc-header-title h2 {
  font-size: 14px !important;
  line-height: 20px;
  font-weight: 400;
  color: #111;
}

.portlet.calendar .fc-widget-header {
  background-image: none !important;
  filter:none !important;
  background-color: #eee !important;
  text-transform: uppercase;
  font-color:#000;
  font-weight: 300;
}

.portlet.calendar .mobile .fc-button {
  margin-left: 2px !important;
}

.portlet.calendar .mobile .fc-button {
    padding: 6px 6px 6px 6px;
    margin-left:2px;  
    border: none !important;    
    background-color: #ddd !important;
      background-image: none;
      -webkit-box-shadow: none !important;
         -moz-box-shadow: none !important;
            box-shadow: none !important;
      -webkit-border-radius: 0 !important;
         -moz-border-radius: 0 !important;
              border-radius: 0 !important;
      color: #000 !important;
      border: none !important;
      text-shadow: none !important;
      text-align: center;
}

.portlet.calendar .mobile .fc-state-hover, 
.portlet.calendar .mobile .fc-state-active {
  background-color: #eee !important;
}

.portlet.calendar .mobile .fc-button-prev {
  margin-right: 5px;
  margin-top: -2px;
  padding: 3px 6px 3px 4px;
}

.portlet.calendar .mobile .fc-button-next {   
  margin-right: -0px;
  margin-top: -2px;
  padding: 3px 4px 3px 6px;
}

.portlet.calendar .mobile .fc-header-space {
  margin: 0px !important;
  padding: 0px !important;
  width: 0px !important;
}

  .portlet.calendar .mobile .fc-state-disabled {
      color: #bbb !important;
  }

  .portlet.calendar .mobile .fc-header-left {
    position: absolute;
    z-index: 10;
  }
    
  .portlet.calendar .mobile .fc-header-right {
    position: absolute;
     z-index: 9;
  }

  .portlet.calendar .mobile .fc-header-left .fc-button { 
    top: -2px !important;
  }

  .portlet.calendar .mobile .fc-header-right {
    position: relative;
    right:0;
  }

  .portlet.calendar .mobile .fc-header-right .fc-button { 
    top: 35px !important;
  }

  .portlet.calendar .mobile .fc-header-right .fc-button:last-child {
    margin-left: 0px !important;
  }

  .portlet.calendar .mobile .fc-content {
    margin-top: 53px;
  }
.portlet-body .slimScrollBar {
  margin-right: 0px !important;
}